[user]
	email = me@ruben.io
  name = Ruben Paz
  signkey = 84B30D23
[commit]
	gpgsign = true
[alias]
	co = checkout
	br = branch
	ci = commit --message
	st = status
	cod = checkout development
	com = checkout master
	last = log -1 HEAD
