[user]
  email = martinrubio23@gmail.com
  name = Martin Rubio
[alias]
  co = checkout
  br = branch
  ci = commit --message
  st = status
  cod = checkout development
  com = checkout master
  last = log -1 HEAD
